[Unit]
Description=Smart Group Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=REPLACEME

[Install]
WantedBy=multi-user.target
